.card {
  width: 302px;
  height: 424px;
  padding: 16px;
  background-color: #fff;
  border-radius: 24px;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      display: flex;
      align-items: center;

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 155%;
        color: #212529;
        margin-right: 12px;
      }

      .weight {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #868e96;
      }
    }

    .amount {
      display: flex;
      align-items: center;

      .input {
        border: none;
        border-radius: 36px;
        padding: 3px 9px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        text-align: center;
        color: #212529;

        &:hover {
          background-color: #dee2e6;
        }

        &:focus {
          outline: none;
          background-color: #868e96;
          color: #fff;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: #212529;
    }

    .button {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      color: #3b944e;
      width: 204px;
      height: 44px;
      padding: 10px 40px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.root {
  &:hover {
    background-color: #d6f0dc;
  }
}
