.item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 12px;

  .info {
    display: flex;
    align-items: center;

    .image {
      margin-right: 12px;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        margin: 0;
      }

      .title {
        display: flex;
        align-items: center;

        .name {
          margin-right: 12px;
          font-weight: 600;
          font-size: 18px;
          line-height: 155%;
          color: #212529;
        }

        .weight {
          font-weight: 600;
          font-size: 14px;
          line-height: 143%;
          color: #868e96;
        }
      }

      .price {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #212529;
      }
    }
  }

  .amount {
    display: flex;
    align-items: center;

    .input {
      border: none;
      border-radius: 36px;
      padding: 3px 9px;
      width: 35px;
      height: 30px;
      background-color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      text-align: center;
      color: #212529;

      &:hover {
        background-color: #dee2e6;
      }

      &:focus {
        outline: none;
        background-color: #868e96;
        color: #fff;
      }
    }
  }
}
