.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 59px;
  padding: 0 20px;

  .button {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
    width: 144px;
    height: 44px;
    padding: 10px 40px;
  }
}

.root {
  &:hover {
    background-color: #3b944e;
  }
}
