.container {
  padding: 60px 80px;
  padding-top: 120px;

  .title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #000;
  }

  .list {
    margin-top: 50px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
}
