.modal {
  position: absolute;
  right: 20px;
  top: 72px;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 444px;
  box-shadow: 0 2px 8px 0 rgba(33, 37, 41, 0.08),
    0 1px 2px 0 rgba(33, 37, 41, 0.1);

  .total {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
    }

    .text {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #000;
    }
  }

  .empty {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    align-self: center;
  }
}
